body {
    background: linear-gradient(120deg, #89f7fe, #66a6ff);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 15px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    width: 100%;
    background: #4facfe;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.events {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}
